/* //this is the main container of the cart */
#cart_container{
    display: grid;
    grid-template-columns: 70% 19%;
    margin: 3%
}
/* #cart_container>div{
    border: 1px solid black;
} */
/* //this is for the total amount to be display in the box and proceed to checkout page */
#cart_total>div{
    /* border: 1px solid black; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin: 20px;
    border-radius: 15px;
}
/* //this is for the display the number of item that will be in the cart and it sum in small window */
.cart_div{
    display: flex;
}

.value{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}




#cart_info>div {
    /* border: 1px solid black; */
    margin: 25px;
}

img {
    width: 85%;
}

div>h4 {
    margin-left: 15px;
}

.prod_info {
    display: flex;
    /* border-style: ridge; */
    /* border: 1px black; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 20px;
}

.prod_info>div {
    border-style: ridge;
    border: 1px black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 6px;
    padding: 7px;
    margin-left: 7px;
    border-radius: 15px;
}

