#navbar{
    display: flex;
    width: 97%;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    border-style: ridge;
    border: 1px  black;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
div>#shop{
    border: 4px solid black;

}